# ignores all .pyc files JUST in the current folder
*.pyc
 
# ignores all .pyc recursive from the current folder
**.pyc
 
# ignores all .pyc in subdirectories recursive from the current 
# folder (does not include the current folder)
**/*.pyc

# ignore the database
db.sqlite3

# ignore migrations
cocktails/migrations/*