html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
}

.img-portfolio {
    margin-bottom: 30px;
    width: 360px;
    height: 240px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Navigation */
.navbar,.navbar-fixed-top{
    background-color: #ff6347;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    border-color: #ff6347;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
}

.navbar-inverse .nav > li.active>a,
.navbar-inverse .nav>li.active>a:focus {
    color: yellowgreen!important;
    background-color: transparent;
}

.navbar-inverse .nav > li.active>a:hover,
.navbar-inverse .nav>li.active>a:focus:hover {
    background-color: transparent;
}



/* Carousel */
header.carousel {
    height: 100%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-caption {
    text-align: left;
}

/* Responsive Styles */
@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/* Login and register */
.login {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #666;
}

.top {
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #000;
    opacity: 0.5;
}

.login-box {
    background-color: #fff;
    max-width: 340px;
    margin: 0 auto;
    position: relative;
    top: 5px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}

.login-box .box-header {
    background-color: #ff6347;
    color: #fff;
    padding: 2px 0;
    border-radius: 5px 5px 0 0;
}

form {
    padding-top: 15px;
}

.login-box label {
    text-transform: uppercase;
    font-size: 14px;
}

.helptext {
    font-size: 12px;
}

#id_picture{
    margin: auto;
}

.login-box input {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .9em;
    color: #666;
}

.login-box input:focus {
    outline: none;
    border-color: #665851;
    transition: 0.5s;
    color: #665851;
}

/* Upload Cocktail */
.upload-cocktail {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #666;
}

.upload-box {
    background-color: white;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    top: 5px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}

.upload-box .box-header {
    background-color: #ff6347;
    color: #fff;
    padding: 2px 0;
    border-radius: 5px 5px 0 0;
}

.upload-box label {
    text-transform: uppercase;
    font-size: 14px;
}

.upload-box input {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .9em;
    color: #666;
}

.upload-box input:focus {
    outline: none;
    border-color: #665851;
    transition: 0.5s;
    color: #665851;
}

.ingredient-formset > tbody > tr > th, .instruction-formset > tbody > tr > th {
    padding: 20px
}

/* User profile */
.profile-head {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;
    border-radius: 0 0 4px 4px;
    position: relative;
}

.profile-head .profile-picture {
    min-height: 300px;
    margin: auto;
}

.profile-head .profile-picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-head .profile-info {
    min-height: 300px;
    margin: auto;
    padding: 100px 0px;
}

.profile-head .profile-info h2 {
    color: #fff;
}

.profile-head .profile-info ul {
    color: #999;
    font-size: 18px;
}

.upload {
    display: inline-block;
}

.upload-button {
    float: right;
    background-color: #ff6347;
    border-color: #ff6347;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #ff6347;
    border-color: #ff6347;
}

.pagination>li>a, .pagination>li>span {
    color: #ff6347;
}

/* Hall of Fame */
.cocktail-info {
    position: relative;
}

.cocktail-caption { 
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 100%;
    color: #fff;
    opacity: 0.8;
    -webkit-text-stroke: 1px #444;
}

/* Show cocktail */
.cocktail-image {
    width: 100%;
    max-width: 450px;
    padding: 0;
    border-style: solid;
    border-color: #ff6347;
    border-width: 2px;
}

.cocktail-image > img {
    width: 450px;
    height: 300px;
}

.rating {
    border: none;
    float: right;
    font-size: 20px;
    display: inline;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    content: "\2605"
}

.rating > label{
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { 
    color: #222;  
} 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { 
    color: #000;  
} 

.cocktail-info {
    display: inline-block;
}

/*  About */
.thumbnail > img {
    max-width: 750px;
    max-height: 250px;
    width: auto;
    height: auto;
}