{% extends 'cocktails/base.html' %}
{% load staticfiles %}

{% block title %}
	Help
{% endblock %}

{% block body_block %}
<div class="container">
	<br>
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Help</h1>
        </div>
    </div>

	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel-group" id="accordion">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How old should I be in order to use the website?</a>
	                    </h4>
	                </div>
	                <div id="collapseOne" class="panel-collapse collapse">
	                    <div class="panel-body">
	                        In compliance with UK (and general EU) laws, one must be at least 18 years old in order to register and make use of the cocktails recipes.
	                    </div>
	                </div>
	            </div>

	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Am I required to provide proof of my age?</a>
	                    </h4>
	                </div>
	                <div id="collapseTwo" class="panel-collapse collapse">
	                    <div class="panel-body">
							We trust you. Of course nobody lies on the Internet.
	                    </div>
	                </div>
	            </div>
	            
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Do I need to be registered in order to upload my cocktail recipes?</a>
	                    </h4>
	                </div>
	                <div id="collapseThree" class="panel-collapse collapse">
	                    <div class="panel-body">
	                        Yes. An account is required in order to access the upload recipes page.
	                    </div>
	                </div>
	            </div>
	           
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Can I rate my favourite cocktails?</a>
	                    </h4>
	                </div>
	                <div id="collapseFour" class="panel-collapse collapse">
	                    <div class="panel-body">
	                        You can use our sophisticated rating system in order to express your opinion on your favourite and least favourite cocktails.
	                    </div>
	                </div>
	            </div>
	            
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Who are you?</a>
	                    </h4>
	                </div>
	                <div id="collapseFive" class="panel-collapse collapse">
	                    <div class="panel-body">
	                        We are students at the University of Glasgow. You can read more about us at the <a href="{% url 'about' %}">about page</a>.
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

{% endblock %}