{% extends 'cocktails/base.html' %}
{% load staticfiles %}

{% block title %}
	{{ user.name }}
{% endblock %}

{% block body_block %}

<div class="container">
	<!-- Profile Banner -->
	<br>
	<div class="row profile-head">
		<div class="col-md-4 profile-picture">
			<img src="{% static "images/cocktails.jpg" %}" class="img-responsive">
		</div>
		<div class="col-md-8 profile-info">
			<h2>Name</h2>
			<ul class="list-inline profile-menu">
				<li>Followers: 200</li>
				<li>Following: 250</li>
				<li>Uploads: 87</li>
			</ul>
		</div>
	</div>

	<!-- Uploaded Recipes -->
	<div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
            <h2 class="heading">Uploaded Cocktails</h2>
            <hr>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
    </div>
</div>
{% endblock %}