{% extends 'cocktails/base.html' %}
{% load staticfiles %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block body_block %}

<div class="container">
	<!-- Profile Banner -->
	<hr>
	<div class="row profile-head">
	    <div class="col-md-4 profile-picture">
			<img src={% if user.userprofile.picture %} "{{MEDIA_URL}}/{{ user.userprofile.picture }}" {% else %} "{{MEDIA_URL}}profile_pictures/default.jpg" {% endif %} class="img-responsive">
		</div>
		<div class="col-md-8 profile-info">
			<h2>{{ user.username }}</h2>
			<ul class="list-inline profile-menu">
				<li>Followers: {{ user.followers }}</li>
				<li>Following: {{ user.following }}</li>
				<li>Uploads: {{ uploads }}</li>
			</ul>
		</div>
	</div>

	<!-- Uploaded Recipes -->
	<div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center upload">
            <h2 class="heading">Uploaded Cocktails
			{% if owner %}
                <a href="{% url 'upload_cocktail' %}" class="btn btn-info upload-button" role="button">Upload</a></h2>
			{% else %}
			 <a href="" class="btn btn-info upload-button" role="button">Follow</a></h2>
			{% endif %}
            <hr>
        </div>
        {% for cocktail in cocktails %}
        <div class="col-md-4 col-xs-6 cocktail-info">
            <a href="{% url 'show_cocktail' cocktail_name_slug=cocktail.slug %}">
                <img class="img-responsive img-portfolio img-hover" src={% if cocktail.picture %} "{{MEDIA_URL}}/{{ cocktail.picture }}" {% else %} "{{MEDIA_URL}}/cocktail_images/download.jpg" {% endif %} alt="">

                <div class="caption cocktail-caption">
                    <h2>{{ cocktail.name }}</h2>
                    <h4>By {{ cocktail.author }}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!--Pagination -->
    <div class="row text-center">
    {% if cocktails.has_other_pages %}
        <ul class="pagination">
            {% if cocktails.has_previous %}
                <li><a href="?page={{ cocktails.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in cocktails.paginator.page_range %}
                {% if cocktails.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if cocktails.has_next %}
                <li><a href="?page={{ cocktails.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    </div>

</div>
{% endblock %}