{% extends 'cocktails/base.html' %}
{% load staticfiles %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block body_block %}

<div class="container">
	<!-- Profile Banner -->
	<hr>
	<div class="row profile-head">
	    <div class="col-md-4 profile-picture">
			<img src={% if user.userprofile.picture %} "{{MEDIA_URL}}/{{ user.userprofile.picture }}" {% else %} "{{MEDIA_URL}}profile_pictures/default.jpg" {% endif %} class="img-responsive">
		</div>
		<div class="col-md-8 profile-info">
			<h2>{{ user.username }}</h2>
			<ul class="list-inline profile-menu">
				<li>Followers: {{ user.followers }}</li>
				<li>Following: {{ user.following }}</li>
				<li>Uploads: {{ user.uploads }}</li>
			</ul>
		</div>
	</div>

	<!-- Uploaded Recipes -->
	<div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center upload">
            <h2 class="heading">Uploaded Cocktails
			{% if owner %}
            <a href="{% url 'upload_cocktail' %}" class="btn btn-info upload-button" role="button">Upload</a></h2>
			{% else %}
			<a href="" class="btn btn-info upload-button" role="button">Follow</a></h2>
			{% endif %}
            <hr>
        </div>
        {% for cocktail in cocktails %}
        <div class="col-md-4 col-sm-6 cocktail-info">
            <a href="{% url 'show_cocktail' cocktail_name_slug=cocktail.slug %}">
                <img class="img-responsive img-portfolio img-hover" src={% if cocktail.picture %} "{{MEDIA_URL}}/{{ cocktail.picture }}" {% else %} "{{MEDIA_URL}}/cocktail_images/download.jpg" {% endif %} alt="">

                <div class="caption cocktail-caption">
                    <h2>{{ cocktail.name }}</h2>
                    <h4>By {{ cocktail.author }}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- <div class="row text-center">
       <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div> -->

</div>
{% endblock %}