{% extends 'cocktails/base.html' %}
{% load staticfiles %}

{% block title %}
	{{ cocktail.name }} by {{ cocktail.author }}
{% endblock %}

{% block body_block %}

<div class="container">
	<div class="row">
	<hr>
		<!-- Cocktail Information -->
		<div class="col-md-6">
			<img src={% if cocktail.picture %} "{{MEDIA_URL}}/{{ cocktail.picture }}" {% else %} "{{MEDIA_URL}}/cocktail_images/download.jpg" {% endif %} class="img-responsive cocktail-image">

			<div class="col-md-8 cocktail-info">
					<h2>{{ cocktail.name }}
					{% if owner %}
						<a href="{% url 'delete_cocktail' cocktail_name_slug=cocktail.slug %}" class="btn btn-info delete-button" role="button" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a>
						<a href="{% url 'edit_cocktail' cocktail_name_slug=cocktail.slug %}" class="btn btn-info upload-button" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
					{% else %}
					<!-- Rating -->
					<form id="rating_form" method="post" action="{% url 'rate' cocktail_name_slug=cocktail.slug %}">
						{% csrf_token %}
						<fieldset class="rating">
						    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Great - 5 stars"></label>
						    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Good - 4 stars"></label>
						    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
						    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
						    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Bad - 1 star"></label>
						</fieldset>
						<input type="submit" value="rate">
					</form>

					{% endif %}
					</h2>
					<small>By <a href="{% url 'get_user' user_name=cocktail.author %}">{{ cocktail.author }}</a>
					<br/>Rating: {{ cocktail.rating }}</small>
					<hr>
				</div>
		</div>

		<div class="col-md-6">
			<div class="row">
				

				<!-- Instruction and Ingredients -->
				<div class="col-md-8 cocktail-instructions">
					<h3>You'll Need</h3>
					<ul>
						{% for ingredient in ingredients %}
							<li>{{ ingredient.quantity }} {{ ingredient }}</li>
						{% endfor %}
					</ul>
					<hr>
					<h3>Instructions</h3>
					<ul>
						{% for instruction in instructions %}
							<li>{{ instruction }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<!-- Comments -->
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
			<h2 class="heading">Comments</h2>
			<hr>
		</div>
	</div>

	<!-- Post a comment -->
	<div class="row enter-comment">
		<div class="col-md-1 col-xs-2 comment-user-thumbnail">
			<img src={% if user.userprofile.picture %} "{{MEDIA_URL}}/{{ user.userprofile.picture }}" {% else %} "{{MEDIA_URL}}profile_pictures/default.jpg" {% endif %} class="img-responsive">
		</div>
		<div class="col-md-4 col-xs-8">
			<form id="comment_form" method="post" action="{% url 'comment' cocktail_name_slug=cocktail.slug %}">
			{% csrf_token %}
			<input type="text" name="comment" placeholder="Add a comment">
			<input type="submit" value="Post comment">
			</form>
		</div>
	</div>

	<!-- Old Comments -->
	{% for comment in comments %}	
	<hr>	
	<div class="row comment-section">
		<div class="col-md-1 col-xs-2 comment-user-thumbnail">
			<img src={% if comment.user.userprofile.picture %} "{{MEDIA_URL}}/{{ comment.user.userprofile.picture }}" {% else %} "{{MEDIA_URL}}profile_pictures/default.jpg" {% endif %} class="img-responsive">
		</div>
		<div class="col-md-4 col-xs-8 comment">
			<a href="{% url 'get_user' user_name=cocktail.author %}">{{ comment.user }} </a><span class="comment-time"> {{ comment.date }}</span><br/>
		 	{{ comment.text }}  
		 </div>
	</div>
	{% endfor %}
</div>
{% endblock %}