{% extends 'cocktails/base.html' %}
{% load staticfiles %}

{% block title %}
	Upload Cocktail
{% endblock %}

{% block body_block %}
<div class="container">

	<br>
	<div class="upload-cocktail">
		<div class="top">
			<h1>Upload Cocktail</h1>
		</div>
		<div class="upload-box">
			<div class="box-header">
				<h2>Upload Cocktail</h2>
			</div>
			<form id="myForm" enctype="multipart/form-data" method="post" action="" >
				{% csrf_token %}
				{{ cocktail_form.as_p }}
				<table id="ingredient" border="0" cellpadding="0" cellspacing="0">
					<tbody>
					{% for form in ingredientSet %}
						<tr>
							{{ form }}
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{{ ingredientSet.management_form }}
				<table id="instruction" border="0" cellpadding="0" cellspacing="0">
					<tbody>
					{% for form in instructionSet %}
						<tr>
							{{ form }}
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{{ instructionSet.management_form }}
				<p>
					<input type="submit" value="Upload" />
				</p>
			</form>
		</div>
	</div>
</div>

<!-- Java Script -->
<script type="text/javascript">
	$(function() {
		$('#myForm #ingredient').formset({
			prefix: '{{ ingredientSet.prefix }}',
			formCssClass: 'ingredient-formset'
		});
	})

	$(function() {
		$('#myForm #instruction').formset({
			prefix: '{{ instructionSet.prefix }}',
			formCssClass: 'instruction-formset'
		});
	})
</script>
{% endblock %}