{% extends 'cocktails/base.html' %}
{% load staticfiles %}

{% block title %}
	Upload Cocktail
{% endblock %}

{% block body_block %}
<div class="container">
	<br>
	<form method="post" action="." encrypt="multipart/form-data">
		{% csrf_token %}
		{{ cocktail_form.as_p }}
		{{ ingredientSet.management_form }}
		<div style="display:none;" id="form_template_ingredients">
			{{ ingredientSet.empty_form.as_p }}
		</div>
		<div id="forms_ingredients"></div>
		<input type="submit" name="submit" value="Register" />
	</form>
	<input type="text" name="quantity" value="" />
	<input type="submit" id="generate_forms_ingredients" value="Generate Forms" />
	<input type="text" name="quantity" value="" />
	<input type="submit" id="generate_forms_instructions" value="Generate Forms" />

</div>
{% endblock %}
